[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
numpy = ">=1.11.1"
python-dateutil = ">=2.5.3"
pytz = ">=2016.4"
six = ">=1.10.0"
pytest = ">=2.9.2"
click = ">=7.0"
jsonpickle = "==0.9.4"
simplejson = ">=3.10.0"
dill = "==0.2.5"
xlsxwriter = {editable = true,path = "."}
tabulate = "*"
pandas = ">=0.18.1"
bcolz = "<=1.2.0,>=1.1.0"
matplotlib = "<=2.2.3,>=1.5.1"
ipython = "==5.3.0"
enum34 = ">=1.1.6"
fastcache = ">=1.0.2"
funcsigs = "*"
"backports.tempfile" = "*"
mock = "*"
Logbook = ">=1.0.0"
PyYAML = ">=3.12"

[packages]
importmagic = "*"
epc = "*"

[requires]
python_version = "3.7"
